<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>48动态组件与V-once指令</title>
    <script src="./vue.js"></script>
</head>
<body>
<div id="app">
<!--  方法一  -->
<!--    <child-one v-if="type === 'child-one'"></child-one>-->
<!--    <child-two v-if="type === 'child-two'"></child-two>-->

<!--  方法二 动态组件  componet 根据is 自动加载 每次的都要销毁一个组件 再创建一个组件 -->
    <component :is="type"></component>

<!--  v-once 指令 组件被放在内存里 -->

    <button @click="handleBtnClick">change</button>
</div>

<script>
    Vue.component('child-one',{
        template:'<div v-once>child-one</div>'
    })
    Vue.component('child-two',{
        template:'<div v-once>child-two</div>'
    })
    var vm = new Vue({
        el: '#app',
        data:{
            type:'child-one'
        },
        methods:{
            handleBtnClick:function (){
                this.type = (this.type === 'child-one' ? 'child-two' : 'child-one')
            }
        }
    })
</script>

</body>
</html>