<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue中的列表渲染</title>
    <script src="./vue.js"></script>
</head>
<body>
<div id="app">
<!--    <div v-for="item of list">-->
<!--        {{item}}-->
<!--    </div>-->
    <div v-for="(item,index) of list">
        {{item}} ---- {{index}}
    </div>
</div>

<script>
    var vm= new Vue({
        el: "#app",
        data: {
            list:[
                "hello",
                "code",
                "nice",
                "to",
                "meet",
                "you"
            ]
        }
    })
</script>

</body>
</html>