<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>55Vue中多个元素或组件的过渡动画</title>
    <script src="./vue.js"></script>
    <style>
        .v-enter, .v-leave-to {
            opacity:0;
        }
        .v-enter-active,.v-leave-active {
            transition:opacity 1s;
        }
    </style>
</head>
<body>
<div id="app">
    <transition mode="in-out">
        <compoment :is="type"></compoment>
<!--        <child v-if="show"></child>-->
<!--        <child-one v-else></child-one>-->
<!--        <div v-if="show" key="hellow">Hello World</div>-->
<!--        <div v-else key="bye">Bye World</div>-->
    </transition>
    <button @click="handleClick">toggle</button>
</div>

<script>
    Vue.component('child',{
        template:'<div>child</div>'
    })
    Vue.component('child-one',{
        template:'<div>child-one</div>'
    })
    var vm = new Vue({
        el: '#app',
        data:{
            // show:true
            type:'child'
        },
        methods:{
            handleClick:function (){
                this.show=!this.show
                this.type= this.type==='child'?'child-one':'child'
            },
        }
    })
</script>

</body>
</html>